/* html {
    height: 750px;
    width: 900px;
  }
  .vampire {
      width: 100px;
      height: 100px;
      opacity: 1;
  }
  .vampire:hover {
      opacity: 1;
  }
  #selP {
      width:100%;
  }
  #data {
      display: none;
  } */

div>p {
    display: inline-block;
}

option {
    background-attachment: scroll;
    background-blend-mode: normal;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    background-origin: padding-box;
    border-block-end-color: rgb(0, 0, 0);
    border-block-end-style: none;
    border-block-end-width: 0px;
    border-block-start-color: rgb(0, 0, 0);
    border-block-start-style: none;
    border-block-start-width: 0px;
    border-inline-end-color: rgb(0, 0, 0);
    border-inline-end-style: none;
    border-inline-end-width: 0px;
    border-inline-start-color: rgb(0, 0, 0);
    border-inline-start-style: none;
    border-inline-start-width: 0px;
    border-spacing: 0px;
    border-start-end-radius: 0px;
    border-start-start-radius: 0px;
}